html {
	scroll-behavior: smooth;
}

body {
	background-image: url('media/guch.png');
	background-size: cover;
	image-rendering: pixelated;
	margin: 0px;
	font-family: 'Roboto Condensed', arial, sans-serif;
}

@font-face {
	font-family: shinGoPro;
	src: url('media/ATTFShinGoProMedium.ttf');
}

/*.top {
	font-family: shinGoPro;
	
	width: 800px;
	height: 5em;
	/*background-color: #d78dec;
	border-radius: 0px 0px 7px 7px;

	background: rgb(26,19,29);
	background: linear-gradient(0deg, rgba(64, 39, 100) 0%, rgba(105,62,125,1) 11%, rgba(175,77,204,1) 77%, rgba(236,170,254,1) 100%);

	border: black 1px solid;
	border-top: #d78dec 1px solid;
	display:flex;
	box-shadow: #222 0px 0px 9px 0px;

}*/

.top {
	font-family: shinGoPro;
	
	width: 800px;
	height: 6em;
	background-color: #fff;
	border-radius: 0px 0px 7px 7px;

	/*border: black 1px solid;*/

	box-shadow: white 0px 0px 8px 6px;

	border-top: #fff 1px solid;
	display:flex;

}

hr.solid {
	border-top: 1px solid #000;
}
hr {
	width: 80%;
}

h1 {
	font-family: shinGoPro;
}

.upright {
	flex-direction: column;
}
.downright {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.downright > figure {
	border: 1px solid black;
	border-radius: 3px;
	margin: 16px 10px;
	background-color: #fff;
	overflow: hidden;
}

ul {
	list-style: none;
	padding: 0px;
}

.top > ul {
	display: flex;
	width: 100%;
	padding: 0px 45px;
	justify-content: space-between;
	margin: 0px 4px;
	height:100%;
	align-items: center;
}
.topmob > ul {
	display: flex;
	/* width: 100%; */
	padding: 0px 8px;
	justify-content: space-evenly;
	margin: 0px 2px;
	align-items: center;
	flex-wrap: wrap;
}

li > a {
	color: #DD00E0;
	text-decoration: none;
	font-size: 22px;
	/*box-shadow: #383630 0px 0px 3px 0px;*/
	/*border: #FE9 2px solid;
	padding: 25px 15px;*/
}

li > a:hover {
	text-shadow: #f0f 0px 0px 3px;
}

@media only screen and (orientation:landscape){
	li > a {
		border: #FE9 2px solid;
		padding: 25px 15px;
	}
	li > a:hover {
		box-shadow: #fffe50 0px 0px 4px 1px;
		text-shadow: #f0f 0px 0px 3px;
	}
}



.box {
	padding: 15px;
	margin: 20px;
	background-color: #fff;
	border: black 1px solid;
	width: 37%;
	border-radius: 7px;
	display:flex;
	justify-content: space-around;
}

.boxmob {
	padding: 15px;
	margin: 20px;
	background-color: #fff;
	border: black 1px solid;
	/* width: 95%; */
	border-radius: 7px;
	display:flex;
	justify-content: space-around;
}

.topmob {
	font-family: shinGoPro;
	
	width: 93%;
	height: 5em;
	background-color: #fff;
	border-radius: 0px 0px 7px 7px;

	/*border: black 1px solid;*/

	box-shadow: white 0px 0px 8px 6px;

	border-top: #fff 1px solid;
	display:flex;
}